body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    max-width: 90%;
    width: 950px;
    margin: 1.5rem auto;
    padding: 3rem;
    border: 6px solid #00326E;
    -webkit-box-shadow: 1px 0px 40px 8px #0C3178; 
    box-shadow: 1px 0px 40px 8px #0C3178;
    background-color: #051529;
    border-radius: 5px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.75rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

p {
    font-size: 1.3rem;
    margin: 0.7rem;
}

.button-group .btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 15px 35px;
    margin: 3px;
    color: white;
    background-color: #00326E;
    border-radius: 5px;
}

.button-group .btn:hover {
    background-color: #F7CB2D;
}

.no-bold {
    font-weight: normal;
}

.white-text {
    color: white;
}
