html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("logos/background.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 2.75rem;
    color: white;
    text-shadow: 0.1875rem 0.1875rem 0rem #ffffff4f;
}

h2 {
    font-size: 2rem;
    color: white;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    color: white;
    line-height: 1.5;
}

p {
    font-size: 1.4rem;
    color: white;
    line-height: 1.3;
}

a {
    text-decoration: underline;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: red;
}

.container {
    text-align: center;
    max-width: 90%;
    width: 59.375rem; 
    margin: 1.5rem auto;
    padding: 3rem;
    border: 0.375rem solid #00326E; 
    -webkit-box-shadow: 0.0625rem 0 2.5rem 0.5rem #0C3178; 
    box-shadow: 0.0625rem 0 2.5rem 0.5rem #0C3178;
    background-color: #051529;
    border-radius: 0.3125rem;
}

.button-group .btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.9375rem 2.1875rem;
    margin: 0.1875rem; 
    color: white;
    background-color: #00326E;
    border-radius: 0.3125rem;
}

.button-group .btn:hover {
    background-color: #F7CB2D;
}


.no-bold {
    font-weight: normal;
}

.white-text {
    color: white;
}

.logo {
    max-width: 100%;
    height: auto;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 1rem;
}

.icon {
    width: 15rem;
    height: 15rem;
    transition: transform 0.3s ease;
    margin: 0.5rem;
}

.icon:hover {
    transform: scale(1.2);
}

.tighter {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.picture {
    width: 30rem;
    height: 30rem;
    transition: transform 0.3s ease;
    margin: 0.25rem;
}

.picture:hover {
    transform: scale(1.2);
}

.slideshows {
    margin: 1rem auto;
    max-width: 100%;
    text-align: center ;
}

.slideshow-image {
    max-width: 100%;
    max-height: 31.25rem;
    box-shadow: 0.0625rem 0 2.5rem 0.5rem black;
}

.calendar {
    width: 100%;
    max-width: 60rem;
    height: 40rem;
}

@media (max-width: 600px) {
    .container {
        padding: 1.5rem;
        width: 95%;
        margin: 1rem auto;
        border-width: 0.25rem;
        box-shadow: 0 0 1.5rem 0.25rem #0C3178;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.1rem;
        color: white;
    }

    .button-group .btn {
        display: inline-block;
        width: 35%;
        padding: 0.75rem 1.5rem;
        font-size: 0.9rem;
        margin: 0.3rem auto;
    }

    .logo {
        max-width: 90%;
        margin: 1rem auto;
    }

    .icon {
        width: 10rem;
        height: 10rem;
        margin: 0.25rem;
    }

    .picture {
        width: 20rem;
        height: 20rem;
        margin: 0.25rem;
    }
}