html {
    font-size: 16px; /* Ensures 1rem = 16px */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    max-width: 90%;
    width: 59.375rem; /* 950px รท 16 */
    margin: 1.5rem auto;
    padding: 3rem;
    border: 0.375rem solid #00326E; /* 6px */
    -webkit-box-shadow: 0.0625rem 0 2.5rem 0.5rem #0C3178; /* 1px, 40px, 8px */
    box-shadow: 0.0625rem 0 2.5rem 0.5rem #0C3178;
    background-color: #051529;
    border-radius: 0.3125rem; /* 5px */
}

h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 0.25rem 0.25rem 0.625rem #3b3b3b;
}

h2 {
    font-size: 1.5rem;
    color: white;
    line-height: 1.5;
    margin: 1rem;
}

p {
    font-size: 1.3rem;
    margin: 1rem;
    color: white;
}

.bullet-point {
    font-size: 1.3rem;
    color: white;
    margin: 0.5rem 0;
}

.button-group .btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.9375rem 2.1875rem; /* 15px 35px */
    margin: 0.1875rem; /* 3px */
    color: white;
    background-color: #00326E;
    border-radius: 0.3125rem; /* 5px */
}

.button-group .btn:hover {
    background-color: #F7CB2D;
}

a {
    text-decoration: underline;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: red;
}


.no-bold {
    font-weight: normal;
}

.white-text {
    color: white;
}

.logo {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

@media (max-width: 600px) {
    .container {
        padding: 1.5rem;
        width: 95%;
        margin: 1rem auto;
        border-width: 0.25rem;
        box-shadow: 0 0 1.5rem 0.25rem #0C3178;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        color: white;
    }

    .button-group .btn {
        display: inline-block;
        width: 45%;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        margin: 0.3rem auto;
    }

    .logo {
        max-width: 90%;
        margin: 1rem auto;
    }
}